*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    background-color: #e9edc9;
  }
  nav{
    font-family: 'Spectral', serif;
    background: #a3b18a;
    height: 90px;
    width: 100%;
  }
  nav ul{
    float: left;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: #fff;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  nav img{
    float: right;
  }
  a.active,a:hover{
    background: #fff;
    transition: .5s;
    color: #0e3c00;
  }
  #srch {
    width: 250px;
    height: 25px;
    font-size: 15px;
    border-radius: 25px;
    background-color: #7d8d5f;
    color: white;
    border: none;
    text-align: center;
    margin-left: 260px;
  }

  h1{
    text-align: center;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 45px;
    margin: 25px;
    color: #283618;
  }
  .awards{
    font-family: 'Tiro Devanagari Sanskrit', serif;
    padding: 25px 20px;
    line-height: 1.5;
  }
  .awards b{
    font-size: 30px;
    color: #343b26;
  }
  .awards h2{
    font-size: 22px;
    color: #6a7656;
  }
  .awards p{
    line-height: 2;
  }
  .awards a{
    color: #545a2c;
  }
  footer{
    position:-webkit-sticky;
    bottom: 0;
    width: 100%;
    background-color: #a3b18a;
  }
  th, td {
    font-family: 'Tiro Devanagari Sanskrit', serif;
    font-size: 17px;
    color: #123524;
    padding-top: 17px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
  }
  marquee{
    color: #fff;
    font-family: 'Markazi Text', serif;
    font-size: 22px;
  }
  .snip {
    position: relative;
    font-size: 20px;
    color: #fff;
    width: 45px;
    margin: 4px;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    text-align: center;
    perspective: 50em;
    box-sizing: border-box;
  }
  .snip:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 2px solid #fff;
    content: '';
    z-index: -1;
    border-radius: 50%;
  }
  .snip:before,
  .snip:after {
    -webkit-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
  }
  .snip:hover,
  .snip:active,
  .snip.hover {
    color: #545a2c;
    background-color: transparent;
  }
  .snip:hover:after,
  .snip:active:after,
  .snip.hover:after {
    border-color: #545a2c transparent #545a2c transparent;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }